<%-include('../layouts/userheader.ejs') %>


<div id="wrapper">

    <!-- ****** Header Area Start ****** -->
    <header class="header_area bg-img background-overlay-white" style="background-image: url(/assets/img/pexels-pragyan-bezbaruah-1715193.jpg);">
        <!-- Top Header Area Start -->
        <div class="top_header_area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-end">

                    <div class="col-12 col-lg-7">
                        <div class="top_logo">
                            <a href="#"><img src="/userassets/img/core-img/logo.png" style="width: 70px;" alt=""></a>
                        </div>
                        <div class="top_single_area d-flex align-items-center">
                            <!-- Logo Area -->
                           
                            <!-- Cart & Menu Area -->

                         

                            <div class="header-cart-menu d-flex align-items-center ml-auto">
                                <!-- Cart Area -->
                                <%if(user){%>
                                    <div class="cart">
                                        <a href="/cart" id="header-cart-btn" target="_blank"><span class="cart_quantity"><%=countcart%></span><i class="ti-bag"></i></a>
                                        <!-- Cart List Area Start -->
                                        
                                    </div>
                                  <%}%>
                                <!-- <div class="header-right-side-menu ml-15">
                                    <a href="#" id="sideMenuBtn"><i class="ti-menu" aria-hidden="true"></i></a>
                                </div> -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Top Header Area End -->
        <div class="main_header_area">
            <div class="container h-100">
                <div class="row h-100">

                   

                    <div class="col-12 d-md-flex justify-content-center"  >
                        <!-- Header Social Area -->
                       
                        <!-- Menu Area -->
                      
                                                   
                            <div class="main-menu-area">
                            <nav class="navbar navbar-expand-lg align-items-start">

                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#karl-navbar" aria-controls="karl-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="ti-menu"></i></span></button>

                                <div class="collapse navbar-collapse align-items-start collapse" id="karl-navbar">
                                    <ul class="navbar-nav animated" id="nav">
                                        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                                      
                                        <li class="nav-item"><a class="nav-link" href="/allproducts">EXPLORE OUR PRODUCTS</a></li>
                                        <!-- <li class="nav-item"><a class="nav-link" href="#"> RIDING GLOVES</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#"><span class="karl-level">hot</span> RIDING JACKETS</a></li> -->

                                        <% if (user){%>

                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="karlDropdown" role="button" data-toggle="dropdown"  aria-haspopup="true" style="text-transform: capitalize;" aria-expanded="false">Hello,<%=user.name%></a>
                                                <div class="dropdown-menu"  aria-labelledby="karlDropdown">
                                                    
                                                    
                                                     
                                                    <a class="dropdown-item" href="/profile/<%=user._id%>">My Profile</a>
                                                     <a class="dropdown-item" href="/logout">Logout</a>
                                           
                                                   
                                                </div>
                                            </li>
                                           

                                        <%}else{%>

                                            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                                            
                                        <%}%>
                                       
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <!-- Help Line -->
                 

                       
                    </div>
                </div>
            </div>
        </div>
        </header>
    <!-- ****** Header Area End ****** -->


    <div class="checkout_area section_padding_100">
        <div class="container">
            <div class="row">
    
                <div class="col-md-6">
                    <div class="checkout_details_area mt-50 clearfix">
                        <div class="cart-page-heading">
                            <h5>Referals & Coupons</h5>
                        </div>
    
                        <div >


                            <div style="height: 135px; background-color: #FF084E; width: 150px; border-radius: 10px; text-align: center;">
                                <h6 style="color: #fff;font-weight: bold; padding-top: 20px;">TOTAL REFERRALS</h6><br>
                                <h1 style="color: #fff;font-weight: bold; line-height: 10px;"><%=userData.referralCount%></h1>
                              </div>
                              
                              <div class="referral-guidelines" style="padding-top: 10px;">
                                <h2>Referral Guidelines</h2>
                                <ul>
                                  <li>Refer friends and family to our service using your unique referral Code</li>
                                  <li>Coupons are valid for one purchase only.</li>
                                  <li>You can refer as many people as you like, but each person can only be referred once.</li>
                                  <li>You will receive a coupon after your 1st, 5th, 10th, and 20th referrals. After 20 referrals, the count will reset.</li>
                                </ul>
                              </div>


                        </div>
                        

                       
                    </div>
                </div>

                
                <div class="col-md-6">
                    <div class="profile_actions mt-50">

                       


                        <% for (let i = 0; i < UserCoupon.length; i++) { %>
                            
                            <% if(UserCoupon[i].userUsed==user._id){%>

                          <% }else{ %>
                            

                            <div class="coupon">
                                <h2><%= UserCoupon[i].code %></h2>
                                <p>(From Referal)</p>
                                <p>OFF:<%= UserCoupon[i].percentageOff %>%</p>
                                <p>Minimum purchase Amount:<%= UserCoupon[i].MinPurchaseAmount %></p>
                                <p>Expires: <%= UserCoupon[i].expirationDate %></p>
                                
                                <button style="color: #fff; background-color: #FF084E; border: none; padding: 10px 20px; border-radius: 5px; font-size: 16px; font-weight: bold; " onclick="copyCouponCode('<%= UserCoupon[i].code %>')">COPY</button>

                              </div>

                            <%}%>

                          <%}%>


                        <% for (let i = Coupons.length-1; i >=0; i--) { %>
                            
                            <% if(Coupons[i].userUsed==user._id){%>


                               
    
    
                             

                          <% }else{ %>
                            

                            <div class="coupon" style="padding-top: 10px;">
                                <h2><%= Coupons[i].code %></h2>
                                <p>OFF:<%= Coupons[i].percentageOff %>%</p>
                                <p>Minimum purchase Amount:<%= Coupons[i].MinPurchaseAmount %></p>
                                <p>Expires: <%= Coupons[i].expirationDate %></p>
                                
                                <button style="color: #fff; background-color: #FF084E; border: none; padding: 10px 20px; border-radius: 5px; font-size: 16px; font-weight: bold; " onclick="copyCouponCode('<%= Coupons[i].code %>')">COPY</button>

                              </div>

                            <%}%>

                          <%}%>








                        </div>
                    </div>
                
    
            </div>
        </div>
    </div>

        <!-- ****** Footer Area Start ****** -->
        <footer class="footer_area">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Area Start -->
                  
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="single_footer_area">
                            <ul class="footer_widget_menu">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Faq</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="single_footer_area">
                            <ul class="footer_widget_menu">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Our Policies</a></li>
                                <li><a href="#">Afiliates</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-lg-5">
                        <div class="single_footer_area">
                           
                        </div>
                    </div>
                </div>
                <div class="line"></div>

                <!-- Footer Bottom Area Start -->
             
        </footer>
        <!-- ****** Footer Area End ****** -->
    </div>

    <style>
   
   
    </style>

    <script>





        function copyCouponCode(code) {
          var tempInput = document.createElement("input");
          tempInput.value = code;
          document.body.appendChild(tempInput);
          tempInput.select();
          document.execCommand("copy");
          document.body.removeChild(tempInput);
          alert("Coupon code copied to clipboard!");
        }
        </script>
    
    
    <%-include('../layouts/userfooter.ejs') %>