<%-include('../layouts/userheader.ejs') %>



<div id="wrapper">
    <header class="header_area bg-img background-overlay-white" style="background-image: url(/assets/img/pexels-pragyan-bezbaruah-1715193.jpg);">
        <!-- Top Header Area Start -->
        <div class="top_header_area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-end">

                    <div class="col-12 col-lg-7">
                        <div class="top_logo">
                            <a href="#"><img src="/assets/img/filename.png" style="width: 150px; height: 100px;" alt=""></a>
                        </div>
                        <div class="top_single_area d-flex align-items-center">
                            <!-- Logo Area -->
                           
                            <!-- Cart & Menu Area -->

                            <div class="newdiv col-sm-4" >
                            <div class="content">
                                <div class="search">
                                  <input style="color: grey;" id="search-input" type="text" class="search__input" aria-label="search" placeholder="Search here">
                                  
                                  <button class="search__submit" aria-label="submit search"><i>
                                    <img style="height: 1em; width: 1em;" src="/assets/img/magnifying-glass (1).png">


                                
                                    </i></button>
                                </div>

                            
    

                              </div>
                              


                            </div>

                          
                            <ul style="padding-left: 200px; padding-top: 25px;">
                             <li> <select id="sort-select" class="form-select" aria-label="sort by" style="border: none; ">
                                <option value="" selected>Sort by</option>
                                <option value="asc">Price: Low to High</option>
                                <option value="desc">Price: High to Low</option>
                                <!-- <option value="asc al">Product Name: A to Z</option>
                                <option value="desc al">Product Name: Z to A</option> -->
                              </select></li>
                             
                            <li> <select id="filter-select" class="form-select" aria-label="filter by">
                                <option value="" selected>Filter by</option>
                            
                   
                                <% if (categories.length > 0) { %>
                                  <% for (let i = 0; i < categories.length; i++) { %>
                                    <% if (categories[i].categoryStatus == true) { %>
                                      <option value="<%= categories[i].category %>"><%= categories[i].category %></option>
                                    <% } %>
                                  <% } %>
                                <% } %>
                              </li>
                              </select>
                              
                            </ul>
                          
                            
                            <div class="header-cart-menu d-flex align-items-center ml-auto">
                                <!-- Cart Area -->
                                <%if(user){%>
                                    <div class="cart">
                                        <a href="/cart" id="header-cart-btn" target="_blank"><span class="cart_quantity"><%=countcart%></span><i class="ti-bag"></i> Your Cart</a>
                                        <!-- Cart List Area Start -->
                                        
                                    </div>
                                  <%}%>
                                <!-- <div class="header-right-side-menu ml-15">
                                    <a href="#" id="sideMenuBtn"><i class="ti-menu" aria-hidden="true"></i></a>
                                </div> -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Top Header Area End -->
        <div class="main_header_area">
            <div class="container h-100">
                <div class="row h-100">

                   

                    <div class="col-12 d-md-flex justify-content-center"  >
                        <!-- Header Social Area -->
                       
                        <!-- Menu Area -->
                      
                                                   
                            <div class="main-menu-area">
                            <nav class="navbar navbar-expand-lg align-items-start">

                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#karl-navbar" aria-controls="karl-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="ti-menu"></i></span></button>

                                <div class="collapse navbar-collapse align-items-start collapse" id="karl-navbar">
                                    <ul class="navbar-nav animated" id="nav">
                                        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                                      
                                        <li class="nav-item"><a class="nav-link" href="/allproducts">EXPLORE OUR PRODUCTS</a></li>
                                        <!-- <li class="nav-item"><a class="nav-link" href="#"> RIDING GLOVES</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#"><span class="karl-level">hot</span> RIDING JACKETS</a></li> -->

                                        <% if (user){%>

                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="karlDropdown" role="button" data-toggle="dropdown"  aria-haspopup="true" style="text-transform: capitalize;" aria-expanded="false">Hello,<%=user.name%></a>
                                                <div class="dropdown-menu"  aria-labelledby="karlDropdown">
                                                    
                                                    
                                                     
                                                    <a class="dropdown-item" href="/profile/<%=user._id%>">My Profile</a>
                                                     <a class="dropdown-item" href="/logout">Logout</a>
                                           
                                                   
                                                </div>
                                            </li>
                                           

                                        <%}else{%>

                                            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                                            
                                        <%}%>
                                       
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <!-- Help Line -->
                 

                       
                    </div>
                </div>
            </div>
        </div>
        </header>
    
    <!-- ****** Header Area Start ****** -->
   <!-- ****** Header Area End ****** -->
<!-- 
    <section class="welcome_area">
        <div class="welcome_slides owl-carousel">



        
            <div class="single_slide height-800 bg-img background-overlay" style="background-image: url('/assets/img/Retro-Banner_08.jpg');">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="welcome_slide_text">
                                <h6 data-animation="bounceInDown" data-delay="0" data-duration="500ms">* Only today we offer free shipping</h6>
                                <h2 data-animation="fadeInUp" data-delay="500ms" data-duration="500ms">Fashion Trends</h2>
                                <a href="#" class="btn karl-btn" data-animation="fadeInUp" data-delay="1s" data-duration="500ms">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single_slide height-800 bg-img background-overlay" style="background-image: url('/public/assets/');">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="welcome_slide_text">
                                <h6 data-animation="bounceInDown" data-delay="0" data-duration="500ms">* Only today we offer free shipping</h6>
                                <h2 data-animation="fadeInUp" data-delay="500ms" data-duration="500ms">Fashion Trends</h2>
                                <a href="#" class="btn karl-btn" data-animation="fadeInUp" data-delay="1s" data-duration="500ms">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>
    </section> -->


 
  
        <div id="search-title" style="text-align: center; padding-top: 98px; margin-bottom:70px ;"  ></div>

        <div class="container">
        <div id="search-results" class="row"  ></div>

    </div>
                 



    <!-- ****** New Arrivals Area Start ****** -->
    <section class="new_arrivals_area section_padding_100_0 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_heading text-center">
                        <h2>New Arrivals</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="karl-projects-menu mb-100" >
            <div class="text-center portfolio-menu">

                 <button class="btn active" data-filter="*">ALL</button>
                <%
                if(categories.length > 0){
                for(let i=0;i<categories.length;i++){ %>
                  
                  <%  if(categories[i].categoryStatus==true){

                    
                    %>
               
                <button class="btn" data-filter=".<%= categories[i].category %>"><%= categories[i].category %></button>
                <!-- <button class="btn" data-filter=".jackets">JACKETS</button>
                <button class="btn" data-filter=".access">GLOVES</button> -->
             

                <%
                }
            }
            }else{
            %>
            <tr>
                <td colspan="3">Categories Not Found</td>
            </tr>
            
            <%
            }
            
            %>
  
            </div>
        </div>

        <div class="container">
            <div class="row karl-new-arrivals">

                <!-- Single gallery Item Start -->
                <% for(i=product.length-1;i>product.length-7;i--){ %>

                  <%if(product[i].show==true){%>

                <%  if(user){%>
                
                  

                    <div class="col-12 col-sm-6 col-md-4 single_gallery_item <%=product[i].Category%> wow fadeInUpBig" data-wow-delay="0.2s">
                      
                        <!-- Product Image -->
                        <a href="/productdetails/<%= product[i]._id%>">
                        <div class="product-img">
                         <img style="border-radius: 5px;" src="/assets/img/<%= product[i].image[0]%>" alt="">
                       
                        </a>

                        </div>
                  
                        <!-- Product Description -->

                        <div class="product-description">
                            <h4 class="product-price">₹<%= product[i].price %></h4>
                            <p><%=product[i].product %></p>
                           
                            <!-- Add to Cart -->
                            <a href="#"  onclick="addToWishlist('<%= product[i]._id %>')"  class="add-to-cart-btn">ADD TO WISHLIST</a>
                        </div>  

                    </div>
                    
           <%       }else{ %>


                    <div class="col-12 col-sm-6 col-md-4 single_gallery_item <%=product[i].Category%> wow fadeInUpBig" data-wow-delay="0.2s">
                      
                      <!-- Product Image -->
                      <a href="/login">
                      <div class="product-img">
                       <img style="border-radius: 5px;" src="/assets/img/<%= product[i].image[0]%>" alt="">
                     
                      </a>

                      </div>
                
                      <!-- Product Description -->

                      <div class="product-description">
                          <h4 class="product-price">₹<%= product[i].price %></h4>
                          <p><%=product[i].product %></p>
                         
                          <!-- Add to Cart -->
                          <a href="/login"    class="add-to-cart-btn">ADD TO WISHLIST</a>
                      </div>  

                  </div>
                    
           <%}%>
           
           <%}%>

           
            
                    <% }; %> 
            
               
            
                
    </section>
    <!-- ****** New Arrivals Area End ****** -->
  
 
    <!-- ****** Footer Area Start ****** -->
  <footer class="footer_area">
    <div class="container">
        <div class="row">
            <!-- Single Footer Area Start -->
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single_footer_area">
                    <div class="footer-logo">
                        <img src="/public/userassets/img/core-img/logo.png" alt="">
                    </div>
                    <div class="copywrite_text d-flex align-items-center">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
            <!-- Single Footer Area Start -->
            <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                <div class="single_footer_area">
                    <ul class="footer_widget_menu">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <!-- Single Footer Area Start -->
            <div class="col-12 col-sm-6 col-md-3 col-lg-2" >
                <div class="single_footer_area">
                    <ul class="footer_widget_menu">
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Our Policies</a></li>
                        <li><a href="#">Afiliates</a></li>
                    </ul>
                </div>
            </div>

           
            <!-- Single Footer Area Start -->
            <div class="col-12 col-lg-5">
                <div class="single_footer_area">
                    
                </div>
            </div>
        </div>
        <div class="line"></div>

        <!-- Footer Bottom Area Start -->
        <div class="footer_bottom_area">
            <div class="row">
                <div class="col-12">
                    <div class="footer_social_area text-center">
                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ****** Footer Area End ****** -->
<style>
    *,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: #fff;
  --clr-body: #333;
  --clr-bg: #ddd;
}

.newdiv {
  font-family: basic-sans, sans-serif;
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
  line-height: 1.6;
  color: var(--clr-body);
  margin-top: 40px;
  
  background: var(--clr-bg);



}

.content {
  background: #0000;
  width: 40vw;
  
  /* box-shadow: 0 0 3em rgba(0, 0, 0, 0.15); */
  position: absolute;

}

.search {
  --size: 60px;
  border: 2px solid var(--clr-primary);
  display: flex;
  border-radius: 100px;
  overflow: hidden;
  font-size: 1.25em;
  position: relative;
  width: var(--size);
  height: var(--size);
  /* margin-left: auto; */
  padding: 3px;
}

@media (prefers-reduced-motion: no-preference) {
  .search {
    transition: width 450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }
}

.search__input {
  border: 0;
  padding: 0.25em 1em;
  flex-grow: 1;
  outline: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent;
  opacity: 0;
  cursor: pointer;
}

.search__submit {
  font-size: 1.5rem;
  margin-left: auto;
  background: 0;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  transition: background 200ms ease-out;
  width: calc(var(--size) - 10px);
  height: calc(var(--size) - 10px);
  color: var(--clr-body);
}

.search:focus-within {
  /* box-shadow: 0 0 5px var(--clr-primary); */
  width: 100%;
}

.search:focus-within .search__input {
  opacity: 1;
  z-index: initial;
  cursor: initial;
  width: calc(100% - var(--size));
 
}


.search:focus-within .search__submit {
  background: var(--clr-primary);
  color: white;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); */
  transition: transform 500ms ease-out;

  
}

.search:focus-within .search__submit :hover{

    outline: 0;
    /* transform: rotate(1turn); */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.65); */

}

.search:focus-within .search__submit :focus{

outline: 0;
/* transform: rotate(1turn); */
box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);

}
.product-img {
  position: relative;
  overflow: hidden; /* hide the overflow when scaled */
}

.product-img img {
  display: block; /* make the image a block element to prevent wrapping */
  transition: transform 0.5s ease;
}

.product-img:hover img {
  transform: scale(1.2);
}

.product-img:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  z-index: 9999;
  pointer-events: none;
}

.product-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 9999;
  pointer-events: none;
}

.product-img:not(:hover)::before {
  opacity: 1;
}



/* Hide the sort and filter elements by default */


/* Hide the sort and filter elements when the search box is cleared */




</style>

<!-- for wishlist////////////////// -->
<script>
    function addToCart(proId,price) {
   
        console.log(proId)
     $.ajax({
        url: '/addToCart',
        data: {
          productId: proId,
          price: price
        },
        method: "post",
        success: (response) => {
          if (response.success) {
            $('.table-shopping-cart').load('/wishlist .table-shopping-cart')
            console.log(response);
            Swal.fire({
              title: 'Added',
              text: 'Item added to Cart',
              icon: 'success',
              timer: 1000,
              showConfirmButton: false
            })
          } else {
            Swal.fire({
              text: 'Item already in Cart',
              icon: 'info',
              timer: 1000,
              showConfirmButton: false
            })
          }
          console.log(response);
        }
      })
    }


    //wishlist 
    function addToWishlist(proId) {
   
   console.log(proId)
$.ajax({
   url: '/addToWishlist',
   data: {
     productId: proId
   },
   method: "post",
   success: (response) => {
     if (response.success) {
       $('.table-shopping-cart').load('/wishlist .table-shopping-cart')
       console.log(response);
       Swal.fire({
         title: 'Added',
         text: 'Item added to wishlist',
         icon: 'success',
         timer: 1000,
         showConfirmButton: false
       })
     }else {
       Swal.fire({
         text: 'Item already in wishlist',
         icon: 'info',
         timer: 1000,
         showConfirmButton: false
       })
     }
     console.log(response);
   }
 })
}




//search
// $('#search-input, #sort-select, #filter-select').on('change input', function() {
//   var query = $('#search-input').val();
//   var sortField = $('#sort-select').val();
//   var filterField = $('#filter-select').val();

//   console.log(query, sortField, filterField)

//   if (query.trim() !== '') {


//   // Send AJAX request to server to search, sort, and filter items
//   $.ajax({
//     timeout: 5000,
 
//     url: '/search-sort-filter',
//     type: 'GET',
//     data: { q: query, sortField: sortField, filterField: filterField },
//     dataType: 'json',
//     success: function(results) {
//       // Update the search results on the page
     
     
     
//       $('#search-results').html('');
//       $('#search-title').html('');
//       $('#search-title').append('<h2 style="font-size:48px">SEARCH RESULTS</h2>');
//       results.forEach(function(result) {

//         var imageUrl = '/assets/img/' + result.image[0];

//         var imageTag = '<img style="height: 350px; width: 350px;" src="' + imageUrl + '">';

//         var productUrl = '/productdetails/'+result._id
       
//       var  productTag =  '<a href="' + productUrl + '"></a>'

//       var productName  = '<p>'+result.product+'</p>'  
//       var productPrice = '<h4 style="color:#9f9f9f ;font-weight: 450" class="product-price">'+'₹'+result.price+'</h4>'

//         $('#search-results').append( '<div  class="col-12 col-sm-6 col-md-4" >'+'<a href="' + productUrl+ '">' +'<div>' + imageTag +  productPrice + productName +'</div>'+ '</a>'+'</div>');

//         // <a href="/productdetails/<%= product[i]._id%>"></a>
//       });
//     },
//     error: function(xhr, status, error) {
//       console.log(error);
//     }
//   });

//   }else{

//     //clear page
    
//     $('#search-results').html('');

//     if($('#search-results').html('')){

//         $('#search-title').html('');
//     }
//   }

// });

$('#search-input, #sort-select, #filter-select').on('change input', function() {
  var query = $('#search-input').val();
  var sortField = $('#sort-select').val();
  var filterField = $('#filter-select').val();

  console.log(query, sortField, filterField);

  if (query.trim() !== '') {
    // Send AJAX request to server to search, sort, and filter items
    $.ajax({
      timeout: 5000,
      url: '/searchSortFilter',
      type: 'GET',
      data: { q: query, sortField: sortField, filterField: filterField },
      dataType: 'json',
      success: function(results) {
        // Update the search results on the page
        $('#search-results').html('');
        $('#search-title').html('');
        $('#search-title').append('<h2 style="font-size:48px">SEARCH RESULTS</h2>');
        results.forEach(function(result) {
          var imageUrl = '/assets/img/' + result.image[0];
          var imageTag = '<img style="height: 350px; width: 350px;" src="' + imageUrl + '">';
          var productUrl = '/productdetails/'+result._id;
          var productName = '<p>'+result.product+'</p>';
          var productPrice = '<h4 style="color:#9f9f9f ;font-weight: 450" class="product-price">'+'₹'+result.price+'</h4>';
          $('#search-results').append('<div class="col-12 col-sm-6 col-md-4">' + '<a href="' + productUrl+ '">' + '<div>' + imageTag +  productPrice + productName + '</div>' + '</a>' + '</div>');
        });
      },
      error: function(xhr, status, error) {
        console.log(error);
      }
    });
  } else {
    // Clear search results and title
    $('#search-results').html('');
    $('#search-title').html('');
  }
});



  </script>



<!-- wrapper ends -->
<%-include('../layouts/userfooter.ejs') %>