<%-include('../layouts/userheader.ejs') %>



    
    <div id="wrapper">
    
        <!-- ****** Header Area Start ****** -->
        <header class="header_area bg-img background-overlay-white" style="background-image: url(/assets/img/pexels-pragyan-bezbaruah-1715193.jpg);">
            <!-- Top Header Area Start -->
            <div class="top_header_area">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-end">
    
                        <div class="col-12 col-lg-7">
                            <div class="top_logo">
                                <a href="#"><img src="/userassets/img/core-img/logo.png" style="width: 70px;" alt=""></a>
                            </div>
                            <div class="top_single_area d-flex align-items-center">
                                <!-- Logo Area -->
                               
                                <!-- Cart & Menu Area -->
    
                                
    
                                <div class="header-cart-menu d-flex align-items-center ml-auto">
                                    <!-- Cart Area -->
                                    <%if(user){%>
                                        <div class="cart">
                                            <a href="/cart" id="header-cart-btn" target="_blank"><span class="cart_quantity"><%=countcart%></span><i class="ti-bag"></i> Your Cart</a>
                                            <!-- Cart List Area Start -->
                                            
                                        </div>
                                      <%}%>
                                    <!-- <div class="header-right-side-menu ml-15">
                                        <a href="#" id="sideMenuBtn"><i class="ti-menu" aria-hidden="true"></i></a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
    
            <!-- Top Header Area End -->
            <div class="main_header_area">
                <div class="container h-100">
                    <div class="row h-100">
    
                       
    
                        <div class="col-12 d-md-flex justify-content-center"  >
                            <!-- Header Social Area -->
                           
                            <!-- Menu Area -->
                          
                                                       
                                <div class="main-menu-area">
                                <nav class="navbar navbar-expand-lg align-items-start">
    
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#karl-navbar" aria-controls="karl-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="ti-menu"></i></span></button>
    
                                    <div class="collapse navbar-collapse align-items-start collapse" id="karl-navbar">
                                        <ul class="navbar-nav animated" id="nav">
                                            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                                          
                                            <li class="nav-item"><a class="nav-link" href="/allproducts">EXPLORE OUR PRODUCTS</a></li>
                                            <!-- <li class="nav-item"><a class="nav-link" href="#"> RIDING GLOVES</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#"><span class="karl-level">hot</span> RIDING JACKETS</a></li> -->
    
                                            <% if (user){%>
    
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" id="karlDropdown" role="button" data-toggle="dropdown"  aria-haspopup="true" style="text-transform: capitalize;" aria-expanded="false">Hello,<%=user.name%></a>
                                                    <div class="dropdown-menu"  aria-labelledby="karlDropdown">
                                                        
                                                        
                                                         
                                                        <a class="dropdown-item" href="/profile/<%=user._id%>">My Profile</a>
                                                         <a class="dropdown-item" href="/logout">Logout</a>
                                               
                                                       
                                                    </div>
                                                </li>
                                               
    
                                            <%}else{%>
    
                                                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                                                
                                            <%}%>
                                           
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <!-- Help Line -->
                     
    
                           
                        </div>
                    </div>
                </div>
            </div>
            </header>
  
    <!-- <<<<<<<<<<<<<<<<<<<< Breadcumb Area Start <<<<<<<<<<<<<<<<<<<< -->
    <div class="breadcumb_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb d-flex align-items-center">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/"><%=product.Category %></a></li>
                        <li class="breadcrumb-item active"><%=product.product %></li>
                    </ol>
                    <!-- btn -->
                    <a href="/" class="backToHome d-block"><i class="fa fa-angle-double-left"></i> Back to Home</a>
                </div>
            </div>
        </div>
    </div>
    <!-- <<<<<<<<<<<<<<<<<<<< Breadcumb Area End <<<<<<<<<<<<<<<<<<<< -->

    <!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area Start >>>>>>>>>>>>>>>>>>>>>>>>> -->
    <section class="single_product_details_area section_padding_0_100">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="single_product_thumb">
                        <div id="product_details_slider" class="carousel slide" data-ride="carousel">

                            <ol class="carousel-indicators">
                                <li class="active"  data-target="#product_details_slider" data-slide-to="0" style="background-image: url(/assets/img/<%=product.image[0]%>);">
                                </li>
                                <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url(/assets/img/<%=product.image[1]%>);">
                                </li>
                                <li data-target="#product_details_slider" data-slide-to="2" style="background-image: url(/assets/img/<%=product.image[2]%>);">
                                </li>
                            
                            </ol>

                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <a class="gallery_img" href="/assets/img/<%=product.image[0]%>">
                                    <img class="d-block w-100" src="/assets/img/<%=product.image[0]%>" alt="First slide">
                                </a>
                                </div>
                                <div class="carousel-item">
                                    <a class="gallery_img" href="/assets/img/<%=product.image[1]%>">
                                    <img class="d-block w-100" src="/assets/img/<%=product.image[1]%>" alt="Second slide">
                                </a>
                                </div>
                                <div class="carousel-item">
                                    <a class="gallery_img" href="/assets/img/<%=product.image[2]%>">
                                    <img class="d-block w-100" src="/assets/img/<%=product.image[2]%>" alt="Third slide">
                                </a>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="single_product_desc">

                        <h4 class="title"><a href="#"><%= product.product %></a></h4>

                        <h4 class="price">₹<%= product.price %></h4>


                        <%if(product.Stock<=0){%>


                            <p class="available"  >Available:<span class="text-danger ">Not In Stock</span></p>

                            <%}else{%>

                        <p class="available">Available: <span class="text-muted" ">In Stock</span></p>

                        <%}%>

                        <div class="single_product_ratings mb-15">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>

                        <!-- <div class="widget size mb-50">
                            <h6 class="widget-title">Size</h6>
                            <div class="widget-desc">
                                <ul>
                                    <li><a href="#">32</a></li>
                                    <li><a href="#">34</a></li>
                                    <li><a href="#">36</a></li>
                                    <li><a href="#">38</a></li>
                                    <li><a href="#">40</a></li>
                                    <li><a href="#">42</a></li>
                                </ul>
                            </div>
                        </div> -->

                        <!-- Add to Cart Form -->
                       
                            <button  style="color: #fff; background-color: #FB084D; font-weight: bold; margin-bottom: 5px;"  onclick="addToCart('<%= product._id %>','<%=product.price%>')" name="addtocart"class="btn cart-submit d-block">ADD TO CART</button>
                        
<!-- 
                         <a href="#" style="color: #fff; background-color: #FB084D; font-weight: bold;"onclick="addToCart('<%= product._id %>','<%=product.price%>')">ADD TO CART</a>
                         -->

                        <div id="accordion" role="tablist">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h6 class="mb-0">
                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Information</a>
                                    </h6>
                                </div>

                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <p><%= product.Description %></p>
                                       
                                    </div>
                                </div>
                            </div>
                           
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area End >>>>>>>>>>>>>>>>>>>>>>>>> -->

    <!-- ****** Quick View Modal Area Start ****** -->
<!-- 
    <div class="modal fade" id="quickview" tabindex="-1" role="dialog" aria-labelledby="quickview" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
                <div class="modal-body">
                    <div class="quickview_body">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-lg-5">
                                    <div class="quickview_pro_img">
                                        <img src="img/product-img/product-1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-7">
                                    <div class="quickview_pro_des">
                                        <h4 class="title">Boutique Silk Dress</h4>
                                        <div class="top_seller_product_rating mb-15">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <h5 class="price">$120.99 <span>$130</span></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia expedita quibusdam aspernatur, sapiente consectetur accusantium perspiciatis praesentium eligendi, in fugiat?</p>
                                        <a href="#">View Full Product Details</a>
                                    </div>
                                  
                                    <form class="cart" method="post">
                                        <input type="hidden" name="productId" value="<%= product._id %>">
                                        <div class="quantity">
                                            <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>

                                            <input type="number" class="qty-text" id="qty2" step="1" min="1" max="12" name="quantity" value="1">

                                            <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                        </div>
                                        <button type="submit" name="addtocart" value="5" class="cart-submit">Add to cart</button>
                                       
                                        <div class="modal_pro_wishlist">
                                            <a href="wishlist.html" target="_blank"><i class="ti-heart"></i></a>
                                        </div>
                                      
                                        <div class="modal_pro_compare">
                                            <a href="compare.html" target="_blank"><i class="ti-stats-up"></i></a>
                                        </div>
                                    </form>

                                    <div class="share_wf mt-30">
                                        <p>Share With Friend</p>
                                        <div class="_icon">
                                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    ****** Quick View Modal Area End ****** -->

    <!-- <section class="you_may_like_area clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_heading text-center">
                        <h2>related Products</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="you_make_like_slider owl-carousel">

                       

                        <div class="single_gallery_item">
                           
                            <div class="product-img">
                                <img src="img/product-img/product-1.jpg" alt="">
                                <div class="product-quicview">
                                    <a href="#" data-toggle="modal" data-target="#quickview"><i class="ti-plus"></i></a>
                                </div>
                            </div>
                            
                            <div class="product-description">
                                <h4 class="product-price">$39.90</h4>
                                <p>Jeans midi cocktail dress</p>
                             
                                <a href="#" class="add-to-cart-btn">ADD TO CART</a>
                            </div>
                        </div>

                      
    </section> -->

    <!-- ****** Footer Area Start ****** -->
    <footer class="footer_area">
        <div class="container">
            <div class="row">
                <!-- Single Footer Area Start -->
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single_footer_area">
                        <div class="footer-logo">
                            <img src="img/core-img/logo.png" alt="">
                        </div>
                      
                    </div>
                </div>
                <!-- Single Footer Area Start -->
                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <div class="single_footer_area">
                        <ul class="footer_widget_menu">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Single Footer Area Start -->
                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <div class="single_footer_area">
                        <ul class="footer_widget_menu">
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Our Policies</a></li>
                            <li><a href="#">Afiliates</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Single Footer Area Start -->
                <div class="col-12 col-lg-5">
                    <div class="single_footer_area">
                       
                    </div>
                </div>
            </div>
            <div class="line"></div>

            <!-- Footer Bottom Area Start -->
            <div class="footer_bottom_area">
                <div class="row">
                    <div class="col-12">
                        <div class="footer_social_area text-center">
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ****** Footer Area End ****** -->
</div>
<!-- /.wrapper end -->

<script>
     function addToCart(proId,price) {
   
        console.log(proId)
     $.ajax({
        url: '/addToCart',
        data: {
          productId: proId,
          price: price
        },
        method: "post",
        success: (response) => {
          if (response.success) {
           
            Swal.fire({
              title: 'Added',
              text: 'Item added to Cart',
              icon: 'success',
              timer: 1000,
              showConfirmButton: false
            })
          } else {
            Swal.fire({
              text: 'Item already in Cart',
              icon: 'info',
              timer: 1000,
              showConfirmButton: false
            })
          }
          console.log(response);
        }
      })
    }
   
</script>
>

<%-include('../layouts/userfooter.ejs') %>